### 연습문제 1

In [39]:
name = "My name is JiyoungSong"

#문자열의 문자수 출력
print(len(name))
#문자열 10번 반복
print(name *10)
#문자열의 첫번째 문자 출력
print(name[0])
#문자열에서 처음 4문자 출력
print(name[:4])
#문자열에서 마지막 4문자 출력
print(name[-4:])
#문자열의 문자를 거꾸로 출력
print(name[::-1])
#문자열에서 첫 번째 문자와 마지막 문자를 제거한 문자열을 출력
print(name[1:-1])
#문자를 모두 대문자로 변경하여 출력
print(name.upper())
#문자를 모두 소문자로 변경하여 출력
print(name.lower())
#문자열에서 'a'를 'e'로 대체하여 출력
print(name.replace('a', 'e'))

22
My name is JiyoungSongMy name is JiyoungSongMy name is JiyoungSongMy name is JiyoungSongMy name is JiyoungSongMy name is JiyoungSongMy name is JiyoungSongMy name is JiyoungSongMy name is JiyoungSongMy name is JiyoungSong
M
My n
Song
gnoSgnuoyiJ si eman yM
y name is JiyoungSon
MY NAME IS JIYOUNGSONG
my name is jiyoungsong
My neme is JiyoungSong

### 연습문제 2

In [45]:
friends = ['seunga', 'yurlim', 'suhyun']

#insert()로 맨 앞에 새로운 친구 추가
friends.insert(0, 'yeounju')
print(friends)

#insert()로 3번째 위치에 새로운 친구 추가
friends.insert(2, 'chaewon')
print(friends)

#append()로 마지막에 친구 추가
friends.append('junghyun')
print(friends)

['yeounju', 'seunga', 'yurlim', 'suhyun']
['yeounju', 'seunga', 'chaewon', 'yurlim', 'suhyun']
['yeounju', 'seunga', 'chaewon', 'yurlim', 'suhyun', 'junghyun']

### 연습문제 3

In [74]:
numbers = [1, 2, 3]

#두 번째 요소를 17로 수정
numbers[1] = 17
print(numbers)

#리스트에 4, 5, 6을 추가
numbers.append(4)
numbers.append(5)
numbers.append(6)
print(numbers)

#첫 번째 요소 제거
numbers.pop(0)
print(numbers)

#리스트를 요소 오름차순 정렬
numbers.sort(reverse=False)
print(numbers)

#리스트를 요소 내림차순 정렬
numbers.sort(reverse=True)
print(numbers)

#인덱스 3에 25넣기
numbers[3] = 25
print(numbers)

[1, 17, 3]
[1, 17, 3, 4, 5, 6]
[17, 3, 4, 5, 6]
[3, 4, 5, 6, 17]
[17, 6, 5, 4, 3]
[17, 6, 5, 25, 3]